@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
  background-color: hsl(0, 0%, 96%);
}

.flex {
  display: flex;
}

.flex-justify-between {
  justify-content: space-between;
}

.p-responsive {
  padding: 0.5rem !important;
}

.p-responsive-lr {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

@media (min-width: 375px) {
  .pad-responsive {
    padding: 0.75rem !important;
  }

  .p-responsive-lr {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
}

@media (min-width: 768px) {
  .pad-responsive {
    padding: 1rem !important;
  }

  .p-responsive-lr {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (min-width: 1024px) {
  .pad-responsive {
    padding: 1.5rem !important;
  }

  .p-responsive-lr {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

@media (min-width: 1280px) {
  .pad-responsive {
    padding: 1.5rem !important;
  }

  .p-responsive-lr {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}
